@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Spline+Sans:wght@400;500;600&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 30px;
}
.logo{
    font-weight: 800;
    font-size: 30px;
}
nav{
   
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 15px 0px;
}
/* banner section */
section{
    margin-bottom: 100px;
    
}
h1{
    font-size: 50px;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-direction: column;
}
.banner-side img{
    width: 75%;
    margin-left: 30px;
}
.banner-side p{
    font-size: 16px;
    line-height: 24px;
    width: 500px;
    margin-bottom: 30px;
}

.link-btn{
    text-decoration: none;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;
}
.fas{
    margin-left: 10px;
}

      /* sponser */
hr{
    border: px solid gainsboro;
}
.sponser{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;

}
.sponser img{
    width: 84px;
    height: 25px;
}

/* Product collect */
.popular-collection{
    margin-bottom: 120px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 26px;
    
}
.products h2{
    font-size: 30px;
    text-align: center;
}
.products h3{
    margin:0;
    padding: 0;
}
.product .product-img img{
    width: 300px;
    height: 256px;
    
}


.product{
    background-color: #FFFFFF;
    padding: 5px;
    box-shadow: 0 7px 10px 0px rgb(50 51 51 / 10%);
    border-radius: 10px;
    height: 475px;
    width: 319px;

}
.fa-star{
    width: 10px;
    height: 11px;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star.empty{
    color: #AEAEAE
}
.ratting {
    padding-left: 0;
}
.ratting span{
    margin-left: 10px;
}
 .popular-collection a{
    text-decoration: none;
    color: #E02C6D;
    text-align: right; 
    
}
.popular-collection .see-more{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
    margin-top: 2rem;
}
/* Subscribe */
.news-letter{
    text-align: center;
    
}
.news-letter-heading{
    color: #476197;
    font-size: 3rem;
}
.news-letter-form{
    vertical-align: middle;
    margin-top: 1.3rem;
}
input{
    outline: 0;
    border-radius: 2rem;
    padding: 0.9rem 2rem;
    border: 0;
    width: 100%;
    background-color: #d3d3d399;
}
    
.news-letter-form input{
  max-width: 400px;
  margin-bottom: 0.5rem;
}
.news-letter-form .link-btn{
    margin-left: 12px;
}
