@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Spline+Sans:wght@400;500;600&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 30px;
}
.logo{
    font-weight: 800;
    width: 245px;
}
nav{
   
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 15px 0px;
}
/* banner section */
section{
    margin-bottom: 100px;
    
}
.banner-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: transparent;
    position: relative;
}
.banner-title::before{
    content: 'Start your Journey as Influencer';
    position: absolute;
    color:  #3A3A3A;
    animation: typing 5s linear infinite;
}
@keyframes typing{
    0%{
        content: 'S|';
    }
    2%{
        content: 'St|';
    }
    4%{
        content: 'Sta|';
    }
    6%{
        content: 'Star|';
    }
    8%{
        content: 'Start|';
    }
    10%{
        content: 'Start |';
    }
    12%{
        content: 'Start y|';
    }
    14%{
        content: 'Start yo|';
    }
    16%{
        content: 'Start you|';
    }
    18%{
        content: 'Start your|';
    }
    20%{
        content: 'Start your |';
    }
    22%{
        content: 'Start your J|';
    }
    24%{
        content: 'Start your Jo|';
    }
    26%{
        content: 'Start your Jou|';
    }
    28%{
        content: 'Start your Jour|';
    }
    30%{
        content: 'Start your Journ|';
    }
    32%{
        content: 'Start your Journe|';
    }
    34%{
        content: 'Start your Journey|';
    }
    36%{
        content: 'Start your Journey |';
    }
    38%{
        content: 'Start your Journey a|';
    }
    40%{
        content: 'Start your Journey as|';
    }
    42%{
        content: 'Start your Journey as |';
    }
    44%{
        content: 'Start your Journey as I|';
    }
    46%{
        content: 'Start your Journey as In|';
    }
    48%{
        content: 'Start your Journey as Inf|';
    }
    50%{
        content: 'Start your Journey as Infl|';
    }
    52%{
        content: 'Start your Journey as Influ|';
    }
    54%{
        content: 'Start your Journey as Influe|';
    }
    56%{
        content: 'Start your Journey as Influen|';
    }
    58%{
        content: 'Start your Journey as Influenc|';
    }
    60%{
        content: 'Start your Journey as Influence|';
    }
    64%,
    85%{
        content: 'Start your Journey as Influencer|';
    }
    86%{
        content: 'Start your Journey as Influenc|';
    }
    87%{
        content: 'Start your Journey as Influe|';
    }
    88%{
        content: 'Start your Journey as Infl|';
    }
    89%{
        content: 'Start your Journey as In|';
    }
    90%{
        content: 'Start your Journey as |';
    }
    91%{
        content: 'Start your Journey a|';
    }
    92%{
        content: 'Start your Journey|';
    }
    93%{
        content: 'Start your Journ|';
    }
    94%{
        content: 'Start your Jou|';
    }
    95%{
        content: 'Start your J|';
    }
    96%{
        content: 'Start your|';
    }
    97%{
        content: 'Start yo|';
    }
    98%{
        content: 'Start|';
    }
    99%{
        content: 'St|';
    }
    100%{
        content: '|';
    }

}
.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
.banner-side img{
    width: 100%;
    margin-left: 30px;
}


.banner-side p{
    font-size: 16px;
    line-height: 24px;
    width: 500px;
    margin-bottom: 30px;
}

.link-btn{
    text-decoration: none;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;
}
.fas{
    margin-left: 10px;
}

      /* sponser */
hr{
    border: px solid gainsboro;
}
.sponser{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;

}
.sponser img{
    width: 84px;
    height: 25px;
}

/* Product collect */
.popular-collection{
    margin-bottom: 100px;
    margin-top: 100px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 26px;
    
}
.section-title{
    font-size: 30px;
    text-align: center;
}
.products h3{
    margin:0;
    padding: 0;
}
.product .product-img img{
    width: 300px;
    height: 256px;
    
}


.product{
    background-color: #FFFFFF;
    padding: 5px;
    box-shadow: 0px 7px 10px 0px rgb(168, 165, 165);
    border-radius: 10px;
    height: 475px;
    width: 319px;

}
.fa-star{
    width: 10px;
    height: 11px;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star.empty{
    color: #AEAEAE
}
.ratting {
    padding-left: 0;
}
.ratting span{
    margin-left: 10px;
}
 .popular-collection a{
    text-decoration: none;
    color: #E02C6D;
    text-align: right; 
    
}
.popular-collection .see-more{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
    margin-top: 2rem;
}
/* Subscribe */
.news-letter{
    text-align: center;
    
}
.news-letter-heading{
    color: #476197;
    font-size: 3rem;
}
.news-letter-form{
    vertical-align: middle;
    margin-top: 1.3rem;
}
input{
    outline: 0;
    border-radius: 2rem;
    padding: 0.9rem 2rem;
    border: 0;
    width: 100%;
    background-color: #d3d3d399;
}
    
.news-letter-form input{
  max-width: 400px;
  margin-bottom: 0.5rem;
}
.news-letter-form .link-btn{
    margin-left: 12px;
}
/* footer */
footer{
    text-align: center;
    background-color: #0A0826;
    padding: 30px 0;
    color: white;
}
footer h3{
    color: white;
    font-size: 20px;
}
footer .link{
    color: white;
    margin-left: 5px;
    text-decoration: none;
}
footer .link:hover{
    color: tomato;
}




/* media query */
@media only screen and (max-width:600px) {
    .container{
        width: 100%;
    }
    .banner, .products{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        
    }
    .popular-collection{
        display: grid;
        grid-template-columns: 1fr, 1fr;
        align-items: center;
        justify-content: center;
    }
   
}
@media only screen and (min-width:688px) and (max-width:992px){
     .products{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        
    }

}
